extends _templates/layout.jade

block content
	.js-scroll
		.js-scroll-section
			h1 Smooth Scroll Brunch Boilerplate
		.js-scroll-section
			h1 Second section
		.js-scroll-section
			h1 Third section
		.js-scroll-section#last-section
			h1 Fourth section